%h2 FAQ - Häufig gestellte Fragen

%h3 Wieviel Punkte gibt's wofür?
%p
  Du trägst für jedes Spiel die von dir geschätzten Tore ein (ggf. inkl. Elfmeterschießen).
  %br
  Du erhältst Punkte je nachdem, wie gut dein Tipp war:
%p
  Deine Vorhersage: <b>Unentschieden</b>
  %br
  Tatsächliches Ergebnis kein unentschieden: <b>0 Punkte</b>
  %br
  Tatsächliches Ergebnis unentschieden: <b>3 Punkte</b>
  %br
  \... + <b>5 Punkte</b> bei korrekter Torzahl
%p
  Deine Vorhersage: <b>Team 1 gewinnt</b>
  %br
  Tatsächliches Ergebnis unentschieden: <b>0 Punkte</b>
  %br
  Tatsächliches Ergebnis Team 2 gewinnt: <b>0 Punkte</b>
  %br
  Tatsächliches Ergebnis Team 1 gewinnt: <b>3 Punkte</b>
  %br
  \... + <b>5 Punkte</b> wenn beide Torzahlen korrekt sind
  %br
  \... + <b>2 Punkte</b> wenn nur eine der Torzahlen korrekt ist

%h3 Gibt es etwas zu gewinnen?
%p
  Nö, außer vielleicht Ruhm und Ehre.
  %br
  Wozu dann das Tippspiel, fragst du? Warum haben wir es überhaupt entwickelt? Nun, weil wir können und weil es Spaß macht :)