%h2 FAQ - Häufig gestellte Fragen

%h3 Wieviel Punkte gibt's wofür?
%p
  Just guess the final result of the game (including penalties).
  %br
  You will get points depending on how right you were:
%p
  Your guess: <b>Draw</b>
  %br
  Match does not end in a draw: <b>0 points</b>
  %br
  Match ends in a draw: <b>3 points</b>
  %br
  \... + <b>5 points</b> if you guessed the goal count right
%p
  Your guess: <b>Team 1 wins</b>
  %br
  Match ends in a draw: <b>0 points</b>
  %br
  Team 2 wins: <b>0 points</b>
  %br
  Team 1 wins: <b>3 points</b>
  %br
  \... + <b>5 points</b> if you guessed both goal counts right
  %br
  \... + <b>2 points</b> if you guessed only on goal count right

%h3 Is there something to win?
%p
  Nope, except maybe fame.
  %br
  Why did we create the betting game then? Well, because we can and it is fun :)


