// Place all the styles related to the bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  width:400px;
  overflow:hidden;
  margin:0 !important;
  padding:25px 0 !important;
  .error {
    display:block;
    font-size:11px;
    color:#AA0000;
    line-height:1px;
  }
}

#new_bet, .edit_bet {
  .input {
    float:left;
    width:49%;
    text-align:center;
    abbr {
      display:none;
    }
    label {
      .name {
        display:block;
      }
      .goals {
        display:block;
        font-weight:bold;
        font-size:14px;
      }
    }
    input {
      width:42px;
      text-align:center;
      font-size:16px;
    }
  }
  .input.boolean {
    margin:10px auto 1px;
    width:auto;
    label {
      width:60%;
      margin-left:130px;
      text-align:left;
      input {
        width:auto;
        position:relative;
        top:-3px;
      }
    }
  }
  .buttons {
    clear:left;
    text-align:center;
    input {
      margin:11px 0 5px;
    }
  }
}
