
@import "compass";

$background_color: #FFFFFF;

body {
  background:$background_color;
}

a {
  color:#000;
  &:visited {
    color:#000;
  }
  &:active {
    color:#0000AA;
  }
  &:hover {
    color:#999;
    text-decoration:none;
  }
}

span.tclogo {
  font-weight:bold;
  span.cloud {
    color:#6abde9;
  }
}

h2 {
  font-size:26px;
  line-height:28px;
  font-family:"LondrinaShadowRegular";
}

#main {
  margin-top:20px;
}

#center {
  h2 {
    text-align:center;
  }
}

#infos {
  text-align:center;
  h2 {
    font-size:22px;
  }
  a {
    @include inline-block;
    padding-left: 23px;
    background:transparent url(asset_path('info.png', image)) no-repeat 0 7px;
  }
}

header.navbar {
  //@include background(linear-gradient(top, #133783, #FFFFFF));
  background:$background_color;
  @include min-height(70px);
  nav {
    //background:transparent;
    @include background(linear-gradient(top, #133783, #EEEEEE 10%, $background_color));
    @include box-shadow(none);
    @include min-height(70px);
    .brand {
      position:absolute;
      top:7px;
      left:10px;
      color:#333;
      img {
        float:left;
      }
      .logo {
        display:block;
        position:relative;
        top:-3px;
        font-size:36px;
        line-height:36px;
        font-family:"LondrinaShadowRegular";
        margin:0 0 0 60px;
        padding:0;
      }
      .sub {
        display:block;
        font-size:12px;
        margin:0 0 0 60px;
      }
    }
  }
}

#top_stats {
  position:absolute;
  top:12px;
  right:12px;
  padding:8px 0 12px;
  color:#333;
  .item {
    float:right;
    margin:0 12px;
    text-align:center;
  }
  .number {
    font-size:36px;
    font-family:"LondrinaOutlineRegular";
  }
}

.how_to{
  position: absolute;
  right:305px;
  top:-8px;
  .btn-mini{
    padding: 2px 6px !important;
  }
}